.mianContainer {
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;

  display: flex; /* 启用flexbox布局 */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30rem;
  height: 15.87rem;
  background: #eee;
  border-radius: 0.417rem;
  margin-top: 2.083rem;
  margin-bottom: 2.083rem;
  /* box-shadow: 5px 10px 5px 10px #888888; */
  transition: transform 0.3s ease-in-out; /* 过渡效果，使变换平滑进行 */

  text-align: center;
  line-height: 65px;
  padding-top: 20px;

}

.card:hover {
  transform: scale(1.1); /* 鼠标悬停时放大到两倍大小 */
}

.container:last-child {
    color: red;
}
/* .card:last-of-type {
    
} */