.mianContainer {
    min-height:100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* padding: 1.5rem 0; */
    /* min-height: 100vh; */
    /* width: 80%; */
    /* width: 80%; */
    /* margin: 0 auto; */
}


.featureJpg {
    width: 16.667rem;
    height: 8.333rem;
    border-radius: 0.417rem;
}

.animationContainer {
    width: 14.5rem;
    height: 14.5rem;
}


.Img {
    width: 12.5rem;
    height: 12.5rem;
}

.code {
    width: 45.33rem;
}

.btn {
    background-color: transparent;
    width: 5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 0;
    text-align: left;
    /* transition: background .25s; */
}

.btn::after {
    background: #abff84;
    border-radius: 0.25rem;
    content: "";
    display: block;
    height: 0.25rem;
    /* transform: scaleX(0); */
    transform-origin: 0 0;
    transition: transform .25s;
    width: 100%;
}

@media screen and (max-width: 996px) {
    .mianContainer {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .Img {
        display: block;
        margin: 0 auto;
        width: 12.5rem;
        height: 12.5rem;
    }

    .code {
        width: 80vw;
    }
}