/* Full height only for top container */
.topContainer {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottomContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

/* Card styles */
.card {
  width: calc(80% / 2); /* For larger screens */
  height: 15.87rem;
  margin: 2.083rem 0;
  padding-top: 20px;
  background: var(--bg-color);
  border-radius: 0.417rem;
  text-align: center;
  line-height: 65px;
  transition: transform 0.3s ease-in-out; /* Smooth scaling transition */
}

.card:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.text_color {
  color: var(--text-color);
}
[data-theme="dark"] {
  --bg-color: #eee;
  --text-color: #000;
}

[data-theme="light"] {
  --bg-color: #eee;
  --text-color: #000;
}
/* Responsive design adjustments */
@media screen and (max-width: 600px) {
  .card {
    width: 30rem; /* Adjust card width on smaller screens */
  }
}
